services:
  redis:
    image: redis:7
    ports:
      - "6379:6379"

  clickhouse:
    image: clickhouse/clickhouse-server
    ports:
      - "8123:8123"
      - "9000:9000"
    volumes:
      - ./sql/schema.sql:/docker-entrypoint-initdb.d/schema.sql
